{{define "title"}}Users{{end}}

{{define "content"}}
<h1>Users</h1>
<ul>
    {{ range . }}
        <li>This is {{ .Name }}. I have teams {{ range .Teams }} {{ .Name }}, {{ end }}</li>
    {{ end }}
</ul>

<h2>Create new user</h2>
<form action="/users" method="post">
        <div class="form-group">
            <label for="user-name">Email address</label>
            <input type="text" class="form-control" id="user-name" aria-describedby="nameHelp" placeholder="Enter name" name="user[name]">
            <small id="nameHelp" class="form-text text-muted">We'll never share your name with anyone else.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
{{ end }}